[Desktop Entry]
Name=PowerShell
Comment=PowerShell is an automation and configuration management platform
Encoding=UTF-8
Exec=pwsh
Icon=kali-pwsh
StartupNotify=false
Terminal=true
Type=Application
Categories=System;Utility;
X-Kali-Package=powershell
X-XFCE-Source=file:///usr/share/applications/kali-pwsh.desktop
