#!/bin/sh

pipewire &
pipewire-pulse &
wireplumber &
imwheel -b 45 &
#imwheel -b "4 5" &
xcape -e 'Super_L=Alt_L|0' & 
kdeconnect-indicator &
xrdb merge ~/.config/x11/xresources &
xwallpaper --zoom ~/.local/share/walls/wallpaper.jpg &


