[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xset
Comment=Move Faster
Exec=xset r rate 280 60
OnlyShowIn=GNOME;XFCE;
StartupNotify=false
Terminal=false
Hidden=false
