* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono NF;
  font-weight: 100;
  font-size: 16px;
  box-shadow: none;
}

window#waybar {
  background-color: #040302;
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  color: #c0caf5;
  background-color: #040302;
  padding-left: 11px;
  padding-right: 12px;
  margin-right: 2px;
}

#workspaces button:hover {
  color: #414868;
  background-color: #b0b9d4;
  border-radius: 1px;
}

#workspaces button.active {
  color: #040302;
  background-color: #c0caf5;
  border-radius: 1px;
}

#workspaces button.urgent {
  color: #040302;
  background-color: #bd2c40;
  border-radius: 1px;
}

#workspaces,
#window,
#custom-date,
#custom-nettraf,
#custom-memory,
#custom-separator,
#pulseaudio,
#tray

#tray {
  padding: 0px 10px;
  margin-right: 2px;
}

#workspaces {
  background-color: #040302;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 4px;
}

#window {
  color: #d1dbf6;
  background-color: #2a2e36;
  border-radius: 8px;
  margin-left: 5px;
}

#custom-date {
  color: #f8f8f2;
  background-color: #2a2e36;
  border-radius: 8px;
  margin-right: 5px;
}

#custom-nettraf {
  color: #89b4fa;
  margin-right: 5px;
}

#custom-memory {
  color: #f8f8f2;
  margin-right: 5px;
}

#pulseaudio {
  color: #f8f8f2;
  background-color: #2a2e36;
  border-radius: 8px 8px 8px 8px;
  margin-right: 0px;
}
