* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono NF";
  font-weight: normal;
  font-size: 16px;
  box-shadow: none;
}

window#waybar {
  background-color: #040303;
  border-radius: 0px;
}

#workspaces button {
  color: #c0caf5;
  background-color: #040303;
  padding-left: 11px;
  padding-right: 12px;
  margin-right: 2px;
}

#workspaces button.active {
  color: #414868;
  background-color: #c0caf5;
  border-radius: 1;
}

#workspaces button.focused {
  color: #bd2c40;
  background-color: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background-color: #bd2c40;
  border-radius: 1;
}

#workspaces button:hover {
  color: #414868;
  background-color: #b0b9e4;
  border-radius: 1;
}

#workspaces,
#window,
#custom-date,
#custom-nettraf,
/* #custom-cpu, */
#custom-memory,
#custom-separator,
#pulseaudio,
#tray,

#tray {
  padding: 0px 10px;
  margin-right: 2px;
}

#workspaces {
  background-color: #040303;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 4px;
}

#window {
  background-color: #2a2e36;
  border-radius: 8;
  margin-left: 5px;
}

#custom-date {
  color: #fab387;
  background-color: #2a2e36;
  border-radius: 8;
  margin-right: 5px;
}

#custom-nettraf {
  color: #89b4fa;
  margin-right: 5px;
}

/* #custom-cpu { */
/*   color: #89b4fa; */
/*   background-color: #2a2e36; */
/*   border-radius: 8; */
/*   margin-right: 5px; */
/* } */

#custom-memory {
  color: #89b4fa;
  margin-right: 5px;
}

#pulseaudio {
  color: #89b4fa;
  background-color: #2a2e36;
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
}

#custom-separator {
  color: #89b4fa;
  background-color: #2a2e36;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  background-color: #2a2e36;
  border-radius: 0px 8px 8px 0px;
  margin-right: 0px;
}
