* {
  border: none;
  border-radius: 2;
  font-family: 'JetBrainsMono NF';
  font-weight: normal;
  font-size: 16px;
}

window#waybar {
  background: #040303;
  border-radius: 0px;
}

#workspaces button {
  color: #c0caf5;
  background: #040303;
  padding-left: 11px;
  padding-right: 12px;
  margin-right: 2px;
}

#workspaces button.active {
  color: #414868;
  background: #c0caf5;
}

#workspaces button.focused {
  color: #bd2c40;
  background: #eba0ac;
}

#workspaces button.urgent {
  color: #11111b;
  background: #bd2c40;
}

#workspaces button:hover {
  color: #414868;
  background: #c0caf5;
}

#workspaces,
#window,
#custom-date,
#custom-nettraf,
#custom-cpu,
#custom-memory,
#custom-separator,
#pulseaudio,
#tray,
#backlight {
  background: #040303;
  opacity: 0.9;
  padding: 0px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#tray {
  margin-right: 2px;
}

#workspaces {
  background: #040303;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 4px;
}

#window {
  background: #2a2e36;
  border-radius: 8;
  margin-left: 5px;
}

#custom-date {
  color: #fab387;
  background: #2a2e36;
  border-radius: 8;
  margin-right: 5px;
}

#custom-nettraf {
  color: #89b4fa;
  margin-right: 5px;
}

#custom-cpu {
  color: #89b4fa;
  background: #2a2e36;
  border-radius: 8;
  margin-right: 5px;
}

#custom-memory {
  color: #89b4fa;
  margin-right: 5px;
}

#pulseaudio {
  color: #89b4fa;
  background: #2a2e36;
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
}

#custom-separator {
  color: #89b4fa;
  background: #2a2e36;
  border-radius: 0px 0px 0px 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  background: #2a2e36;
  border-radius: 0px 8px 8px 0px;
  margin-right: 4px;
}
