UpdateInterval=0
TimeScale=0
Size=128
Frame=0
Border=0
Bars=1
ColorMode=1
Foreground1=rgb(39,119,255)
Foreground2=rgb(0,255,224)
BarsColor=rgb(0,255,224)
PerCore=0
TrackedCore=0
InTerminal=1
StartupNotification=0

