[Desktop Entry]
Type=Application
Name=Text editor
Exec=kitty -e nvim %u
# Exec=/usr/local/bin/st -e nvim %u
Icon=nvim

# update-desktop-database ~/.local/share/applications/
