[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bot/Desktop/Linux-For-Beginners]
row=1
col=0

[/home/bot/Desktop/dotfiles]
row=0
col=0

[/home/bot/Desktop/learnitbandit]
row=4
col=0

[/home/bot/Desktop/xfce4]
row=2
col=0

[/home/bot/Desktop/banditpswd]
row=3
col=0

