[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bot/Desktop/Neovim-from-scratch]
row=4
col=0

[/home/bot/Desktop/dotfiles]
row=0
col=0

[/home/bot/Desktop/icon Project]
row=6
col=0

[/home/bot/Desktop/systemcoding]
row=1
col=0

[/home/bot/Desktop/walls]
row=3
col=0

[/home/bot/Desktop/chris nvim]
row=2
col=0

[/home/bot/Desktop/LunarVim]
row=5
col=0

[/home/bot/Desktop/finalicon.zip]
row=7
col=0

