[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bot/Desktop/Linux-For-Beginners]
row=2
col=0

[/home/bot/Desktop/dotfiles]
row=0
col=0

[/home/bot/Desktop/learnlinux]
row=1
col=0

[/home/bot/Desktop/bandit]
row=6
col=0

